@import './var.scss';
.webmap-wrapper {
  &-suspended-container {
    // 悬浮层
    z-index: $suspendedLayerIndex;
    cursor: pointer;
    width: $webMapWidth;
    height: $webMapHeight;
    pointer-events: none;
    // transform: translateZ(($suspendedLayerIndex/10) + px) $rotate3d;
    // opacity: $suspendedLayerIndex/1500;
    &-block {
      position: absolute;
      background: $background;
      backdrop-filter: blur(3px);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: auto;
      // overflow: auto;
      @include overflow;
    }
    &-top {
      width: $areaWidth_tb;
      min-height: $areaHeight_tb;

      top: 0;
      left: 0;
    }
    &-left {
      width: $areaWidth_lr;
      height: $areaHeight_lr;

      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    &-right {
      width: $areaWidth_lr;
      height: $areaHeight_lr;

      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
    &-bottom {
      width: $areaWidth_tb;
      min-height: $areaHeight_tb;

      bottom: 0;
      left: 0;
    }
  }
}
