@import "./var.scss";
.webmap-wrapper {
  &-anime-container {
    // 动画层
    z-index: $animeLayerIndex;
    cursor: pointer;
    width: $webMapWidth;
    height: $webMapHeight;
    pointer-events: none;
    // transform: translateZ(($animeLayerIndex/10) + px) $rotate3d;
    // opacity: $animeLayerIndex/1500;
    position: fixed;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .block {
      $padding: 15px;
      margin: auto 0;
      height: calc($areaHeight_lr - $padding * 2);
      // width: 26vw;
      // height: 71vh;
      backdrop-filter: blur(1rem);
      background-color: #97979745;
      pointer-events: auto;
      overflow: auto;
      padding: $padding; // 预留滚动条和按钮的位置
      &.left {
        transform: translateX(-100%); // TODO: 首次点击动画
        width: $sideWidth_l;
        // opacity: 0;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
      }
      &.right {
        transform: translateX(100%);
        width: $sideWidth_r;
        // opacity: 0;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
      }
    }
    .block-btn {
      position: fixed;
      top: 50%;
      background: #1f3c71;
      height: 150px;
      width: 70px;
      &.left {
        left: 0;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        transform: translateX(-40px) translateY(-50%);
        visibility: visible;
      }
      &.right {
        right: 0;
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
        transform: translateX(40px) translateY(-50%);
        visibility: visible;
      }
    }
  }
}
