div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 3000px;
          perspective: 3000px;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  cursor: pointer;
}

.point {
  cursor: pointer;
  pointer-events: auto;
}

.webmap-wrapper {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.webmap-wrapper-layer {
  width: inherit;
  height: inherit;
  position: absolute;
}

.webmap-wrapper-map-container {
  z-index: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.webmap-wrapper-suspended-container {
  z-index: 1000;
  cursor: pointer;
  width: var(--width);
  height: var(--height);
  pointer-events: none;
}

.webmap-wrapper-suspended-container-block {
  position: absolute;
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: auto;
  overflow: auto;
}

.webmap-wrapper-suspended-container-top {
  width: 100%;
  min-height: 60px;
  top: 0;
  left: 0;
}

.webmap-wrapper-suspended-container-left {
  width: 100px;
  height: calc(100% - $areaHeight_tb * 2);
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.webmap-wrapper-suspended-container-right {
  width: 100px;
  height: calc(100% - $areaHeight_tb * 2);
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.webmap-wrapper-suspended-container-bottom {
  width: 100%;
  min-height: 60px;
  bottom: 0;
  left: 0;
}

.webmap-wrapper-interaction-container {
  z-index: 1100;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.webmap-wrapper-suspended-container-top .webmap-wrapper-interaction-container {
  width: 80%;
  height: 80%;
  background: transparent;
}

.webmap-wrapper-suspended-container-left .webmap-wrapper-interaction-container {
  width: 100%;
  height: 100%;
  background: transparent;
}

.webmap-wrapper-suspended-container-right .webmap-wrapper-interaction-container {
  width: 100%;
  height: 100%;
  background: transparent;
}

.webmap-wrapper-suspended-container-bottom .webmap-wrapper-interaction-container {
  width: 80%;
  height: 80%;
  background: transparent;
}

.webmap-wrapper-suspended-container .webmap-wrapper-interaction-container {
  overflow: auto;
}

.webmap-wrapper-anime-container {
  z-index: 1200;
  cursor: pointer;
  width: var(--width);
  height: var(--height);
  pointer-events: none;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.webmap-wrapper-anime-container .block {
  margin: 80px 0;
  min-width: 150px;
  height: auto;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  background-color: #b9b9b9;
  pointer-events: auto;
  overflow: auto;
  padding: 30px;
}

.webmap-wrapper-anime-container .block-btn {
  position: fixed;
  top: 50%;
  background: #1f3c71;
  height: 150px;
  width: 70px;
}

.webmap-wrapper-anime-container .block-btn.left {
  left: 0;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  -webkit-transform: translateX(-40px) translateY(-50%);
          transform: translateX(-40px) translateY(-50%);
  visibility: visible;
}

.webmap-wrapper-anime-container .block-btn.right {
  right: 0;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  -webkit-transform: translateX(40px) translateY(-50%);
          transform: translateX(40px) translateY(-50%);
  visibility: visible;
}

.webmap-wrapper-modal-container {
  z-index: 1300;
  width: var(--width);
  height: var(--height);
  pointer-events: none;
}

.webmap-wrapper-modal-container-default {
  position: absolute;
  width: 300px;
  height: 400px;
  background: rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
  overflow-y: auto;
  text-align: left;
  top: 60px;
  left: 20px;
}

.webmap-wrapper-modal-container-default .content {
  color: white;
  background: #1714118c;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  height: 100%;
  padding: 5px;
  border-radius: 10px;
  font-weight: 600;
}

.webmap-wrapper-modal-container-default .title {
  width: 100%;
  background: #0579ff;
  color: white;
  font-size: 1em;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.webmap-wrapper-modal-container-default .tips {
  border-left: 7px solid #0579ff;
  padding-left: 5px;
}

.webmap-wrapper-modal-container-default .col {
  padding: 0 5px;
}

.webmap-wrapper-modal-container-default .prop {
  color: #b4b1b1;
  margin-right: 10px;
}

.webmap-wrapper-modal-lever1 {
  z-index: 1310;
}

.webmap-wrapper-modal-lever2 {
  z-index: 1320;
}

.webmap-wrapper-modal-lever3 {
  z-index: 1330;
}

.webmap-wrapper-modal-lever4 {
  z-index: 1340;
}

.webmap-wrapper-modal-lever5 {
  z-index: 1350;
}

.webmap-wrapper-modal-lever6 {
  z-index: 1360;
}

.webmap-wrapper-toast-container {
  z-index: 1400;
  cursor: pointer;
  width: var(--width);
  height: var(--height);
}
/*# sourceMappingURL=main.css.map */