@import './var.scss';
div {
  box-sizing: border-box;
  // transform: rotate3d(18, 12, 51, 354deg);
  transform-style: preserve-3d;
  // border: 1px solid gray;
  perspective: 3000px;
}
img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  cursor: pointer;
}
.point {
  cursor: pointer;
  pointer-events: auto;
}

.webmap-wrapper {
  // 组件 容器
  font-family: fantasy,Arial, Helvetica, sans-serif;
  position: relative;
  width: $webMapWidth;
  height: $webMapHeight;
  &-layer {
    width: inherit;
    height: inherit;
    // background: $background;
    position: absolute;
  }
}

@import "./0map.scss";
@import "./1suspended.scss";
@import "./2interaction.scss";
@import "./3anime.scss";
@import "./4modal.scss";
@import "./5toast.scss";
