// 高度
$mapLayerIndex: 0; // 地图层
$suspendedLayerIndex: 1000; // 悬浮层
$interactionLayerIndex: 1100; // 交互层
$animeLayerIndex: 1200; // 动画层
$modalLayerIndex: 1300; // 模态层
$toastLayerIndex: 1400; // 系统提示
// $rotate3d: rotate3d(1, 1, 1, 354deg);

// 长宽
$webMapWidth: var(--width);
$webMapHeight: var(--height);

$mapWidth: 100%;
$mapHeight: 100%;
$background: transparent !default;

// suspended
// 上部和下部区域
$areaWidth_tb: 100%;
$areaHeight_tb: 60px;

// 中部左右区域
$areaWidth_lr: 300px !default;
$areaHeight_lr: calc(100% - #{$areaHeight_tb} * 2);

// anime
// $sideWidth: 300px;
$sideWidth_l: var(--width_l);
$sideWidth_r: var(--width_r);


@mixin overflow {
  overflow: auto;
  padding: 5px;
}